{% extends 'navbar.html' %}
{% load static %}


{% block user-login %}

<li class="nav-item">
    <a class="nav-link blog_nav_text" href="#">Profile</a>
  </li>

<li class="nav-item">
    <a class="nav-link blog_nav_text" href="{% url 'myblog' %}">My_blog</a>
  </li>
 
<li class="nav-item">
    <a class="nav-link blog_nav_text" href="#" style="">{{name}}</a>
</li>

<li class="nav-item">
    <a class="nav-link blog_nav_text" href="{% url 'signout' %}">SignOut</a>
</li>

{% endblock user-login %}


{% block My_blog %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <title>My Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
        <div class="container-fluid mt-5">
            <div class='card-container d-flex flex-wrap'>
            {% for i in blog %}
          
            <div class="col-sm-2 justify-content-sm-evenly mt-5 m-lg-5">
                <div class="card justify-content-center h-100" style="width: 18rem;">
                        <img class="card-img-top mx-auto" src="{{i.blog_img.url}}" alt="Card image cap" style="width: 200px; height: 200px">
                        <div class="card-body">
                        <a href="{% url 'blog-display' i.id %}" style="text-decoration: none; color:black">
                            <h5 class="card-title">{{i.title}}</h5>
                        </a>
                        <a href="{% url 'blog-like' i.id %}">
                            <button class="like-button">
                                <span class="like-icon">&#x2665;</span>
                                <span class="like-text">{{i.like.count}}</span>
                              </button>  
                            </a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Created at {{i.created_at}}</small>
                            <small class="text-muted">Updated at {{i.update_at}}</small>
                        </div>
                    </div>
                </div>
            
                {% endfor %}
            </div>
        </div>
   
</body>
</html>


{% endblock  %}









